{{csTrace "CS-BASE-ROLLCARD.HTML"}}
<div class="rollcard">
    <div class="rollcard-top">
        <div class="cpr-block chat-rollTitle-stat">
            <div class="text-center text-padding-top text-normal">{{title}} ({{formula}})</div>
        </div>
    </div>
    <div class="rollcard-bottom"></div>
</div>
{{csTrace "CS-BASE-ROLLCARD.HTML"}}
