<form>
    <div class="form-group">
        <label for="initiativeType">{{localize "CS.dialogs.initiativeSelector.label"}}</label>
        <select id ="initiativeType" name="initiativeType">
            {{selectOptions choices selected=value localize=true}}
        </select>
    </div>
</form>
