<form>
    {{> (formGroup) id="pool" inputCssClass="size50" value=formula.pool placeHolder="CS.dialogs.rollModifier.pool" labelText="CS.dialogs.rollModifier.pool" dataType=Number }}
    {{> (formGroup) id="bonusDice" inputCssClass="size50" value=formula.bonusDice placeHolder="CS.dialogs.rollModifier.bonusDice" labelText="CS.dialogs.rollModifier.bonusDice" dataType=Number }}
    {{> (formGroup) id="reRoll" inputCssClass="size50" value=formula.reRoll placeHolder="CS.dialogs.rollModifier.reRoll" labelText="CS.dialogs.rollModifier.reRoll" dataType=Number }}
    {{> (formGroup) id="modifier" inputCssClass="size50" value=formula.modifier placeHolder="CS.dialogs.rollModifier.modifier" labelText="CS.dialogs.rollModifier.modifier" dataType=Number }}
    {{> (formGroup) id="dicePenalty" inputCssClass="size50" value=formula.dicePenalty placeHolder="CS.dialogs.rollModifier.dicePenalty" labelText="CS.dialogs.rollModifier.dicePenalty" dataType=Number }}
</form>