<div class="tab flexrow works" data-group="primary" data-tab="works">
    <div>
        <header class="header-field flexrow">
            <span>{{localize "CS.sheets.techniqueItem.tabs.works"}}</span>
            <div class="header-field-add">
                <a class="work-create" data-type="art"><i class="fa fa-plus"></i></a>
            </div>
        </header>
        <ol class="work-list list resizable" data-base-size="150">
            {{#each data.data.works as |work id|}}
                <li class="work item flexrow" data-item-id="{{id}}">
                    <!--suppress HtmlFormInputWithoutLabel -->
                    <div>
                        <div class="flexrow">
                            {{> (formGroup)
                                    id=(concat "data.works." id ".name")
                                    labelText="CS.sheets.generalLabels.name"
                                    inputCssClass="size200"
                                    value=work.name
                                    dataType="String"
                            }}
                            <div class="flexrow size125">
                                <div class="form-group">
                                    <label for="type">{{localize "CS.sheets.techniqueItem.type"}}</label>
                                    <select name="data.works.{{id}}.type" class="size75">
                                        {{selectOptions ../data.types selected=work.type localize=true}}
                                    </select>
                                </div>
                                <div class="form-group size125">
                                    <label for="cost">{{localize "CS.sheets.techniqueItem.cost"}}</label>
                                    <select name="data.works.{{id}}.cost" class="size150">
                                        {{selectOptions ../data.costs selected=work.cost localize=true}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        {{#ifEquals work.type "RITUAL"}}
                            <div class="flexrow">
                                {{> (formGroup)
                                        id=(concat "data.works." id ".test.alignment")
                                        labelText="CS.sheets.techniqueItem.test.alignment"
                                        value=work.test.alignment
                                        dataType="String"
                                }}
                                {{> (formGroup)
                                    id=(concat "data.works." id ".test.invocation")
                                    labelText="CS.sheets.techniqueItem.test.invocation"
                                    value=work.test.invocation
                                    dataType="String"
                                }}
                                {{> (formGroup)
                                        id=(concat "data.works." id ".test.unleashing")
                                        labelText="CS.sheets.techniqueItem.test.unleashing"
                                        value=work.test.unleashing
                                        dataType="String"
                                }}
                            </div>
                        {{/ifEquals}}
                        <div class="flexrow">
                            {{#ifEquals work.type "SPELL"}}
                                <div class="size50">
                                    {{> (formGroup)
                                            id=(concat "data.works." id ".test.spellcasting")
                                            labelText="CS.sheets.techniqueItem.test.spellcasting"
                                            value=work.test.spellcasting
                                            dataType="String"
                                    }}
                                </div>
                            {{/ifEquals}}
                            {{> (formGroup)
                                    id=(concat "data.works." id ".resonance")
                                    labelText="CS.sheets.techniqueItem.resonance"
                                    value=work.resonance
                                    dataType="String"
                            }}
                        </div>

                        <header class="subheader-field">
                            <span>{{localize "CS.sheets.generalLabels.description"}}</span>
                        </header>
                        <div class="form-group">
                            {{editor content=work.description target=(concat "data.works." id ".description") button=true owner=../owner editable=../editable}}
                        </div>
                    </div>
                    <a class="work-control item-controls" data-id="{{id}}" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
            {{/each}}
        </ol>
    </div>
</div>