<header class="header-field">
    <span>Description</span>
</header>
<div class="form-group description-text">
    {{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
</div>
