<div class="form-group">
    <label for="data.weight">Weight:</label>
    <span class="form-fields">
          <input
                  id="data.weight"
                  name="data.weight"
                  type="text"
                  value="{{data.data.weight}}"
                  placeholder="Weight"
                  data-dtype="Number"
          />
    </span>
</div>
<div class="form-group">
    <label for="data.cost">Cost:</label>
    <span class="form-fields">
          <input
                  id="data.cost"
                  name="data.cost"
                  type="text"
                  value="{{data.data.cost}}"
                  placeholder="Cost"
                  data-dtype="String"
          />
    </span>
</div>