<div class="form-group">
    <label for="system.weight">Weight:</label>
    <span class="form-fields">
          <input
                  id="system.weight"
                  class="small-field"
                  name="system.weight"
                  type="text"
                  value="{{item.system.weight}}"
                  placeholder="Weight"
                  data-dtype="Number"
          />
    </span>
</div>
