<div class="tab flexrow" data-group="primary" data-tab="combat-and-intrigue">
    <section class="derived-statistics">
        <section class="intrigue">
            <header class="header-field">
                <span>Intrigue</span>
            </header>
            <section class="content flexrow">
                <section class="stats">
                    <header class="subheader-field">
                        <span>Intrigue Defense</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                              <input
                                      name="data.derivedStats.intrigueDefense.value"
                                      type="text"
                                      value="{{data.data.derivedStats.intrigueDefense.value}}"
                                      placeholder="Value"
                                      readonly="readonly"
                                      data-dtype="Number"
                              />
                            <b>+</b>
                              <input
                                      name="data.derivedStats.intrigueDefense.modifier"
                                      type="text"
                                      value="{{data.data.derivedStats.intrigueDefense.modifier}}"
                                      placeholder="Value"
                                      data-dtype="Number"
                              />
                            <b>=</b>
                            <input
                                    name="data.derivedStats.intrigueDefense.total"
                                    type="text"
                                    value="{{data.data.derivedStats.intrigueDefense.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Composure</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.composure.value"
                                    type="text"
                                    value="{{data.data.derivedStats.composure.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.derivedStats.composure.modifier"
                                    type="text"
                                    value="{{data.data.derivedStats.composure.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="data.derivedStats.composure.value"
                                    type="text"
                                    value="{{data.data.derivedStats.composure.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="data.derivedStats.composure.current">Current</label>
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.composure.current"
                                    type="text"
                                    value="{{data.data.derivedStats.composure.current}}"
                                    placeholder="Current"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Frustration</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.frustration.value"
                                    type="text"
                                    value="{{data.data.derivedStats.frustration.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.derivedStats.frustration.modifier"
                                    type="text"
                                    value="{{data.data.derivedStats.frustration.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                                <input
                                        name="data.derivedStats.frustration.value"
                                        type="text"
                                        value="{{data.data.derivedStats.frustration.total}}"
                                        placeholder="Total"
                                        readonly="readonly"
                                        data-dtype="Number"
                                />
                            </span>
                    </div>
                    <div class="form-group">
                        <label for="data.derivedStats.frustration.current">Current</label>
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.frustration.current"
                                    type="text"
                                    value="{{data.data.derivedStats.frustration.current}}"
                                    placeholder="Current"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                </section>
                <section class="disposition">
                    <header class="subheader-field">
                        <span>Current Disposition</span>
                    </header>
                    <div class="disposition-list">
                        {{#each dispositions}}
                                <div class="disposition option  {{showIfEquals this.rating ../data.data.currentDisposition "selected"}}" data-id="{{this.rating}}">
                                    {{this.name}} ({{this.persuasionModifier}} / {{this.deceptionModifier}})
                                </div>
                        {{/each}}
                    </div>
                </section>
                <section class="techniques">
                    <header class="subheader-field">
                        <span>Techniques</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Technique</th>
                            <th>Influence</th>
                            <th>Persuasion</th>
                            <th>Deception</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each techniques}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.influence}}</td>
                            <td class="rollable" id="persuasion:{{this.name}}:{{formulaToStr this.persuasion}}"><a>{{format-formula this.persuasion}}</a></td>
                            <td class="rollable" id="deception:{{this.name}}:{{formulaToStr this.deception}}"><a>{{format-formula this.deception}}</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
        <section class="combat">
            <header class="header-field">
                <span>Combat</span>
            </header>
            <section class="content flexrow">
                <section class="stats">
                    <header class="subheader-field">
                        <span>Combat Defense</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.combatDefense.value"
                                    type="text"
                                    value="{{data.data.derivedStats.combatDefense.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.derivedStats.combatDefense.modifier"
                                    type="text"
                                    value="{{data.data.derivedStats.combatDefense.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="data.derivedStats.combatDefense.value"
                                    type="text"
                                    value="{{data.data.derivedStats.combatDefense.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Health</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.health.value"
                                    type="text"
                                    value="{{data.data.derivedStats.health.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.derivedStats.health.modifier"
                                    type="text"
                                    value="{{data.data.derivedStats.health.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="data.derivedStats.health.value"
                                    type="text"
                                    value="{{data.data.derivedStats.health.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="data.derivedStats.health.current">Current</label>
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.health.current"
                                    type="text"
                                    value="{{data.data.derivedStats.health.current}}"
                                    placeholder="Current"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Fatigue</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.fatigue.value"
                                    type="text"
                                    value="{{data.data.derivedStats.fatigue.value}}"
                                    placeholder="Value"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.derivedStats.fatigue.modifier"
                                    type="text"
                                    value="{{data.data.derivedStats.fatigue.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="data.derivedStats.fatigue.value"
                                    type="text"
                                    value="{{data.data.derivedStats.fatigue.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="data.derivedStats.fatigue.current">Current</label>
                        <span class="form-fields">
                            <input
                                    name="data.derivedStats.fatigue.current"
                                    type="text"
                                    value="{{data.data.derivedStats.fatigue.current}}"
                                    placeholder="Current"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                    <header class="subheader-field">
                        <span>Movement</span>
                    </header>
                    <div class="form-group">
                        <span class="form-fields">
                            <input
                                    name="data.movement.base"
                                    type="text"
                                    value="{{data.data.movement.base}}"
                                    placeholder="Base"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.derivedStats.movement.runBonus"
                                    type="text"
                                    value="{{data.data.movement.runBonus}}"
                                    placeholder="Run Bonus"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>-</b>
                            <input
                                    name="data.movement.bulk"
                                    type="text"
                                    value="{{data.data.movement.bulk}}"
                                    placeholder="Bulk"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                            <b>+</b>
                            <input
                                    name="data.movement.modifier"
                                    type="text"
                                    value="{{data.data.movement.modifier}}"
                                    placeholder="Modifier"
                                    data-dtype="Number"
                            />
                            <b>=</b>
                            <input
                                    name="data.derivedStats.movement.total"
                                    type="text"
                                    value="{{data.data.movement.total}}"
                                    placeholder="Total"
                                    readonly="readonly"
                                    data-dtype="Number"
                            />
                        </span>
                    </div>
                </section>
                <section class="healthState">
                    <header class="subheader-field flexrow">
                        <div class="header-title">
                            <span>Injuries</span>
                        </div>
                        <div class="header-field-add">
                            <a class="injury-create" data-type="skill"><i class="fa fa-plus"></i></a>
                        </div>
                    </header>
                    <ol class="injuries-list list resizable" data-base-size="150">
                        {{#each data.data.injuries as |injury id|}}
                            <li class="injury flexrow" data-item-id="{{id}}">
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input
                                        class="big-field"
                                        type="text"
                                        name="data.injuries.{{id}}"
                                        value="{{injury}}"
                                        placeholder="Description"
                                        data-dtype="String"
                                />
                                <a class="injury-control item-controls" data-id="{{id}}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </li>
                        {{/each}}
                    </ol>
                    <header class="subheader-field flexrow">
                        <div class="header-title">
                            <span>Wounds</span>
                        </div>
                        <div class="header-field-add">
                            <a class="wound-create" data-type="skill"><i class="fa fa-plus"></i></a>
                        </div>
                    </header>
                    <ol class="wounds-list list resizable" data-base-size="150">
                        {{#each data.data.wounds as |wound id|}}
                            <li class="wound flexrow" data-item-id="{{id}}">
                                <!--suppress HtmlFormInputWithoutLabel -->
                                <input
                                        class="big-field"
                                        type="text"
                                        name="data.wounds.{{id}}"
                                        value="{{wound}}"
                                        placeholder="Description"
                                        data-dtype="String"
                                />
                                <a class="wound-control item-controls" data-id="{{id}}" data-action="delete"><i class="fas fa-trash"></i></a>
                            </li>
                        {{/each}}
                    </ol>
                </section>
                <section class="weapons">
                    <header class="subheader-field">
                        <span>Current Equipped Weapons</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Weapon</th>
                            <th>Test</th>
                            <th>Damage</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.data.owned.weapons as |weapon index|}}
                            {{#ifDifferent weapon.data.equipped ../notEquipped}}
                                <tr>
                                    <td>{{weapon.name}} {{showIfEquals weapon.data.equipped 3 "(Off-hand)" : ""}}</td>
                                    <td class="rollable" id="weapon-test:{{weapon.name}}:{{formulaToStr weapon.formula}}">
                                        <a>{{format-formula weapon.formula}}</a>
                                    </td>
                                    <td> {{weapon.damageValue}}</td>
                                </tr>
                            {{/ifDifferent}}
                        {{/each}}
                        </tbody>
                    </table>
                    <header class="subheader-field">
                        <span>Current Equipped Armor</span>
                    </header>
                    <table>
                        <thead>
                        <tr>
                            <th>Armor</th>
                            <th>Rating</th>
                            <th>Penalty</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each data.data.owned.armors as |armor index|}}
                            {{#ifDifferent armor.data.equipped ../notEquipped}}
                                <tr>
                                    <td>{{armor.name}}</td>
                                    <td>{{armor.data.rating}}</td>
                                    <td>{{armor.data.penalty}}</td>
                                </tr>
                            {{/ifDifferent}}
                        {{/each}}
                        </tbody>
                    </table>
                </section>
            </section>
        </section>
    </section>
</div>