<div class="tab" data-group="primary" data-tab="equipments">
    <section class="weapons">
        <header class="header-field">
            <span>Weapons</span>
        </header>
        <ol  class="weapons-list list equipment-list">
            <li class="list-header flexrow">
                <div class="weapon-label">Name</div>
                <div class="weapon-testdice">Test</div>
                <div class="weapon-damage">Dmg</div>
                <div class="equipment-weight">Weight</div>
                <div class="equipment-cost">Cost</div>
                <div class="item-qualities"><div>Qualities</div></div>
            </li>
            {{#each data.data.owned.weapons as |weapon index|}}
                <li  class="item weapon flexrow" data-item-id="{{_id}}">
                    <div class="weapon-label item-edit field"><a>{{weapon.name}}</a></div>
                    <div class="weapon-testdice rollable field" id="weapon-test:{{weapon.name}}:{{formulaToStr weapon.formula}}">
                        <a>{{format-formula weapon.formula}}</a>
                    </div>
                    <div class="weapon-damage field"> {{weapon.damageValue}}</div>
                    <div class="equipment-weight field">{{weapon.data.weight}} lb</div>
                    <div class="equipment-cost field">{{weapon.data.cost}}</div>
                    <div class="item-qualities field">
                        {{#each weapon.data.qualities}}
                            <div class="item-quality">{{name}} {{parameter}}</div>
                        {{/each}}
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
    <section class="armors">
        <header class="header-field">
            <span>Armors</span>
        </header>
        <ol  class="armors-list list equipment-list">
            <li class="list-header flexrow">
                <div class="armor-label">Name</div>
                <div class="armor-rating">Rating</div>
                <div class="armor-penalty">Penalty</div>
                <div class="armor-bulk">Bulk</div>
                <div class="equipment-weight">Weight</div>
                <div class="equipment-cost">Cost</div>
                <div class="item-qualities"><div>Qualities</div></div>
            </li>
            {{#each data.data.owned.armors as |armor index|}}
                <li  class="item weapon flexrow" data-item-id="{{_id}}">
                    <div class="armor-label item-edit field"><a>{{armor.name}}</a></div>
                    <div class="armor-rating field"><a>{{armor.data.armorRating}}</a></div>
                    <div class="armor-penalty field"><a>{{armor.data.armorPenalty}}</a></div>
                    <div class="armor-bulk field"><a>{{armor.data.Bulk}}</a></div>
                    <div class="equipment-weight field">{{armor.data.weight}} lb</div>
                    <div class="equipment-cost field">{{armor.data.cost}}</div>
                    <div class="item-qualities field">
                        {{#each armor.data.qualities}}
                            <div class="item-quality">{{name}} {{parameter}}</div>
                        {{/each}}
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
</div>