@import "constants.less";


.chroniclesystem {
  &.sheet {
    &.house {
      .members {
        & > * {
          margin-left: @big-margin;
          &:first-child {
            margin-left: 0;
          }
        }
        .family-list, & .servants-list {
          .age {
            flex: 0 0 30px;
          }
        }
      }

      .list {
        .list-header {
          .event-name {
            padding-top: 12px;
            padding-left: @small-margin;
          }
          .item-controls {
            flex: 0 0 12.25px;
          }
        }
        .modifiers p {
          flex: 0 0 67px;
          padding: 0 @small-margin;
        }
        .item {
          margin: @small-margin;
          padding: @medium-margin;
          &:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.2);
          }
        }
        .event {
          .description {
            display:none;
          }
          .event-name {
            padding-left: @small-margin;
          }
          .modifiers {
            margin: 0 4px;
          }
        }
      }
    }
  }
}