<div class="tab flexrow" data-group="primary" data-tab="abilities">
    <section class="abilities flex3">
        <header class="header-field">
            <span>Abilities</span>
        </header>
        <ol  class="abilities-list">
            {{#each data.data.owned.abilities as |ability key|}}
                <li  class="item ability flexrow" data-item-id="{{ability._id}}">
                    <div class="ability-value rollable" id="ability:{{ability.name}}">
                        <a>{{ability.data.rating}}d{{modifier ability.data.modifier}}</a>
                    </div>
                    <label class="ability-label item-edit"><a >{{ability.name}}</a></label>
                    <div class="ability-specialities">
                        {{#each ability.data.specialties as |specialty key|}}
                            <div class="rollable" id="specialty:{{specialty.name}}:{{../this.name}}">
                                <a>{{specialty.name}} {{specialty.rating}}B{{modifier specialty.modifier}}</a>&nbsp;
                            </div>
                        {{/each}}
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>
</div>