<div class="tab flexrow" data-group="primary" data-tab="events">
    <section class="events">
        <header class="header-field">
            <span>{{localize "CS.sheets.house.events.title"}}</span>
        </header>
        <ol class="events-list list">
            <li class="list-header flexrow">
                <p class="event-name">{{localize "CS.sheets.house.events.name"}}</p>
                <div class="event-label center size200">
                    <label>{{localize "CS.sheets.house.events.modifiers"}}</label>
                    <div class="flexrow modifiers center">
                        <p>{{localize "CS.sheets.house.resources.defense"}}</p>
                        <p>{{localize "CS.sheets.house.resources.influence"}}</p>
                        <p>{{localize "CS.sheets.house.resources.lands"}}</p>
                        <p>{{localize "CS.sheets.house.resources.law"}}</p>
                        <p>{{localize "CS.sheets.house.resources.population"}}</p>
                        <p>{{localize "CS.sheets.house.resources.power"}}</p>
                        <p>{{localize "CS.sheets.house.resources.wealth"}}</p>
                    </div>
                </div>
                <div class="item-controls"></div>
            </li>
            {{#each data.data.historicalEvents as |event index| }}
                <li  class="item event" data-item-id="{{_id}}">
                    {{log event}}
                    <div class="flexrow">
                        {{#if ../owner}}
                            <p class="event-name item-edit field"><a>{{name}}</a></p>
                        {{else}}
                            <p class="event-name field">{{name}}</p>
                        {{/if}}
                        <div class="size200 center">
                            <div class="modifiers flexrow center">
                                <p>{{data.modifiers.defense}}</p>
                                <p>{{data.modifiers.influence}}</p>
                                <p>{{data.modifiers.lands}}</p>
                                <p>{{data.modifiers.law}}</p>
                                <p>{{data.modifiers.population}}</p>
                                <p>{{data.modifiers.power}}</p>
                                <p>{{data.modifiers.wealth}}</p>
                            </div>
                        </div>
                        <div class="item-controls"><a><i class="far fa-caret-square-down"></i></a></div>
                    </div>
                    <div class="event-label field description">{{enrich data.description}}</div>
                </li>
            {{/each}}
        </ol>
    </section>
</div>