<div class="tab flexrow members" data-group="primary" data-tab="members">
    <section class="family">
        <header class="header-field">
            <span>{{localize "CS.sheets.house.labels.heirsAndFamily"}}</span>
        </header>
        <ol  class="family-list list">
            <li class="list-header flexrow">
                <div class="field name">{{localize "CS.sheets.generalLabels.name"}}</div>
                <div class="field age center">Age</div>
                <div class="field description size150">{{localize "CS.sheets.generalLabels.description"}}</div>
                <div class="field item-controls">&nbsp;</div>
            </li>
            {{#if data.data.head.id}}
                {{> (memberListItem) listName="family" id=data.data.head.id age=data.data.head.age name=data.data.head.name description=data.data.head.description role="HEAD" }}
            {{/if}}
            {{#each data.data.heirs as |heir index|}}
                {{> (memberListItem) listName="family" id=heir.id age=heir.age name=heir.name description=heir.description role="HEIR" }}
            {{/each}}
            {{#each data.data.family as |family index|}}
                {{> (memberListItem) listName="family" id=family.id age=family.age name=family.name description=family.description role="FAMILY" }}
            {{/each}}
        </ol>
    </section>
    <section>
        <section class="other-members">
            <header class="header-field">
                <span>{{localize "CS.sheets.house.labels.retainersAndServants"}}</span>
            </header>
            <ol  class="servants-list list">
                <li class="list-header flexrow">
                    <div class="field name">{{localize "CS.sheets.generalLabels.name"}}</div>
                    <div class="field age center">Age</div>
                    <div class="field description size150">{{localize "CS.sheets.generalLabels.description"}}</div>
                    <div class="field item-controls">&nbsp;</div>
                </li>
                {{#each data.data.retainers as |retainer index|}}
                    {{> (memberListItem) listName="servant" id=retainer.id age=retainer.age name=retainer.name description=retainer.description role="RETAINER" }}
                {{/each}}
                {{#each data.data.servants as |servant index|}}
                    {{> (memberListItem) listName="servant" id=servant.id age=servant.age name=servant.name description=servant.description role="SERVANT" }}
                {{/each}}
            </ol>
        </section>
    </section>
</div>