<div class="tab flexrow" data-group="primary" data-tab="resources">
    <div class="flexrow">
        <section class="profile-picture">
            <div class="profile-img-container flex">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" alt="{{actor.name}} Picture" />
            </div>
        </section>
        <section class="flex2">
            <header class="header-field">
                <span>{{localize "CS.sheets.house.resources.title"}}</span>
                {{#if owner}}
                    <span class="item-controls regenerate-resources"><a><i class="fas fa-sync"></i></a></span>
                {{/if}}
            </header>
            <div class="resources-list list">
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="defense"
                        resourceNameKeyword="CS.sheets.house.resources.defense"
                        startingValue=data.data.defense.total
                        description=data.data.defense.description
                }}
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="influence"
                        resourceNameKeyword="CS.sheets.house.resources.influence"
                        startingValue=data.data.influence.total
                        description=data.data.influence.description
                }}
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="lands"
                        resourceNameKeyword="CS.sheets.house.resources.lands"
                        startingValue=data.data.lands.total
                        description=data.data.lands.description
                }}
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="law"
                        resourceNameKeyword="CS.sheets.house.resources.law"
                        startingValue=data.data.law.total
                        description=data.data.law.description
                }}
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="population"
                        resourceNameKeyword="CS.sheets.house.resources.population"
                        startingValue=data.data.population.total
                        description=data.data.population.description
                }}
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="power"
                        resourceNameKeyword="CS.sheets.house.resources.power"
                        startingValue=data.data.power.total
                        description=data.data.power.description
                }}
                {{> (houseResourceItem)
                        owner=owner
                        resourceName="wealth"
                        resourceNameKeyword="CS.sheets.house.resources.wealth"
                        startingValue=data.data.wealth.total
                        description=data.data.wealth.description
                }}
            </div>
        </section>
    </div>
</div>