<form class="{{cssClass}}" autocomplete="off">
    {{!-- Item Sheet Header --}} {{>
    "systems/chroniclesystem/templates/items/partials/header-delete.html"}}
    <main class="sheet-body flexrow">
        <section class="item-stats">
            <header class="header-field">
                <span>Details</span>
            </header>
            <div class="form-group">
                <label for="data.rating">Rating:</label>
                <span class="form-fields">
                  <input
                          id="data.rating"
                          class="small-field"
                          name="data.rating"
                          type="text"
                          value="{{item.data.data.rating}}"
                          placeholder="Rating"
                          data-dtype="Number"
                  />
                </span>
            </div>
            <div class="form-group">
                <label for="data.penalty">Penalty</label>
                <span class="form-fields">
                  <input
                          id="data.penalty"
                          class="small-field"
                          name="data.penalty"
                          type="text"
                          value="{{item.data.data.penalty}}"
                          placeholder="Penalty"
                          data-dtype="Number"
                  />
                </span>
            </div>
            <div class="form-group">
                <label for="data.bulk">Bulk</label>
                <span class="form-fields">
                  <input
                          id="data.bulk"
                          class="small-field"
                          name="data.bulk"
                          type="text"
                          value="{{item.data.data.bulk}}"
                          placeholder="Bulk"
                          data-dtype="Number"
                  />
                </span>
            </div>
            {{> "systems/chroniclesystem/templates/items/partials/physical-item.html"}}
            {{> "systems/chroniclesystem/templates/items/partials/equipment-item.html"}}
        </section>
        <section class="description">
            {{>
            "systems/chroniclesystem/templates/items/partials/description.html"}}
            <header class="header-field flexrow">
                <div class="header-title">
                    <span>Qualities</span>
                </div>
                <div class="header-field-add">
                    <a class="item-quality-create" data-type="skill"><i class="fa fa-plus"></i></a>
                </div>
            </header>
            <ol class="qualities-list list resizable" data-base-size="150">

                {{#each data.data.qualities as |quality index|}}
                    <li class="weapon-quality flexrow" data-item-id="{{index}}">
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input
                                class="big-field"
                                type="text"
                                name="data.qualities.{{index}}.name"
                                value="{{quality.name}}"
                                placeholder="Armor Quality Name"
                                data-dtype="String"
                        />
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input
                                class="small-field"
                                type="text"
                                name="data.qualities.{{index}}.parameter"
                                value="{{quality.parameter}}"
                                placeholder="Parameter"
                                data-dtype="String"
                        />
                        <a class="item-qualities-control item-controls" data-id="{{index}}" data-action="delete"><i class="fas fa-trash"></i></a>
                    </li>
                {{/each}}
            </ol>
        </section>
    </main>
</form>