<form class="{{cssClass}}" autocomplete="off">
    {{!-- Item Sheet Header --}} {{>
    "systems/chroniclesystem/templates/items/partials/header-delete.hbs"}}
    <main class="sheet-body flexrow">
        <section class="description">
            <div class="form-group">
                <label for="system.categories">Categories:</label>
                <span class="form-fields">
                  <input
                          id="system.categories"
                          class="small-field"
                          name="system.categories"
                          type="text"
                          value="{{item.system.categories}}"
                          placeholder="Categories"
                          data-dtype="String"
                  />
                </span>
            </div>
            <div class="form-group">
                <label for="system.requirements">Requirements:</label>
                <span class="form-fields">
                  <input
                          id="system.requirements"
                          class="small-field"
                          name="system.requirements"
                          type="text"
                          value="{{item.system.requirements}}"
                          placeholder="Requirements"
                          data-dtype="String"
                  />
                </span>
            </div>
            {{> "systems/chroniclesystem/templates/items/partials/description.hbs"}}

        </section>
    </main>
</form>
